<!-- <p>form works!</p> -->

<div>
    <form>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" [(ngModel)]="email">
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password">
        </div>
        <div>
            <button>submit</button>
        </div>
    </form>
</div>
